version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      # Our dependencies should be checked daily
      interval: daily
    assignees:
      - davidmytton
    reviewers:
      - davidmytton
    commit-message:
      prefix: deps
      prefix-development: deps(dev)
    groups:
      dependencies-major:
        update-types:
          - major
      dependencies-minor:
        update-types:
          - minor
          - patch
      # Arcjet packages are grouped alone due to not being major/minor/patch yet
      arcjet-js:
        patterns:
          - arcjet
          - "@arcjet/*"
    ignore:
      - dependency-name: eslint
        versions: [">=9"]
