.Block {
  position: relative;
  padding: var(--padT) var(--padR) var(--padB) var(--padL);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    border-radius: var(--rad);
    background: linear-gradient(
        hsl(var(--foreground) / 0) 12%,
        hsl(var(--foreground) / 0.04) 88%
      ),
      linear-gradient(
        hsl(var(--popover) / 0.6) 0%,
        hsl(var(--popover) / 0.6) 100%
      );
  }

  .BlockInner {
    position: relative;
    z-index: 10;
  }
}
