.Content {
  display: grid;
  align-items: center;
  gap: calc(var(--sp) * 6);

  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  .Section {
    display: grid;
    align-items: center;
    gap: calc(var(--sp) * 3);

    max-width: 980px;
  }
}

@media screen and (max-width: 768px) {
  .Content {
    padding: calc(var(--sp) * 6) calc(var(--sp) * 4) calc(var(--sp) * 4);
  }
}

@media screen and (min-width: 769px) {
  .Content {
    padding: calc(var(--sp) * 8) calc(var(--sp) * 4) calc(var(--sp) * 5);
  }
}
